<!DOCTYPE html>
<html>
<head>
    <title>Open ~ Weather</title>
    <!-- Add your CSS stylesheets here -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,300;0,400;1,300&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/style.css')}}">
</head>
<body>
    <nav class="h1"> WEATHER APP<nav>
    <form action="/forecast" method="post">
        <input type="text" name="city" placeholder="Enter city name">
        <input type="submit" value="Get Weather">
    </form>
</body>
</html>
